name: build, push and deploy
on:
  push:
    branches:
      - blue-green-deployment
      - in-place-deployment
  pull_request:

env:
  AWS_REGION: ca-central-1
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Dockerhub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v2
      - name: list files
        run: ls -l
      - name: Build image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/sklearn_flask:latest -f Dockerfile .
      - name: Push image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/sklearn_flask:latest
  
  in_place_deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@v.0.1.3
        # https://github.com/marketplace/actions/ssh-remote-commands
        with:
          host: ${{secrets.HOST}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          username: ${{secrets.USER}}
          script: |
            whoami
            echo "Pull the latest image"
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/sklearn_flask:latest
            echo "Stop and remove container"
            if docker ps -a --format '{{.Names}}' | grep -q '^sklearn_flask$'; then
              docker stop sklearn_flask && docker rm sklearn_flask
            fi
            echo "Run the container"
            docker run -d -p 8000:8000 --name sklearn_flask ${{ secrets.DOCKERHUB_USERNAME }}/sklearn_flask:latest
